.product-detail-container{
    display: flex;
   gap: 40px;
   margin: 40px;
   margin-top: 60px;
   color: #324d67;
  
  }
  
  .product-detail-image{
    border-radius: 15px;
     background-color: #ebebeb;
  
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .product-detail-image:hover{
    background-color: #f02d34;
  
  }